<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SampleServices.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=mysheceusd01;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=infy@1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
